.input input,
.input textarea {
  border: 2px solid var(--color-fifth);
  background: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
  resize: none;
  transition: 0.5s all ease;
  display: flex;
  width: 100%;
}

.input input:focus,
.input textarea:focus {
  border: 2px solid var(--color-first);
}
.input textarea {
  height: 100px;
}
.input label {
  margin-top: 20px;
}
