.header ul {
  display: flex;
  list-style: none;
}
.header li {
  margin-left: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-third);
  color: var(--color-third);
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 10px;
  background: none;
  margin-right: 7px;
  cursor: pointer;
}
.button span {
  margin-right: 5px;
}
@media (max-width: 720px) {
  .button span {
    display: none;
  }
}
