.input input,
.input textarea {
  border: 2px solid var(--color-dark);
  background: none;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 300px;
  margin-bottom: 20px;
  resize: none;
  transition: 0.5s all ease;
}
.input input:focus,
.input textarea:focus {
  border: 2px solid var(--color-first);
  outline: none;
}
.input textarea {
  height: 100px;
  width: 400px;
}
.input p {
  margin-top: 20px;
  transition: 0.5s all ease;
}
.input input:focus,
.input textarea:focus {
  transform: translateX(-5px);
}
