.header {
  width: 100%;
  height: 50px;
  background-color: var(--color-first);
  color: var(--color-third);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.header ul {
  display: flex;
  list-style: none;
}
.header li {
  margin-left: 20px;
}
.buttons {
  display: flex;
}
.buttons p {
  animation: vibrate .5s ease infinite alternate;
}
@keyframes vibrate {
  from {
    transform: scale(.8) translateX(0px);
  }
  to {
    transform: scale(1.1) translateX(10px);
  }
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-third);
  color: var(--color-third);
  font-size: 1em;
  padding: 5px 10px;
  border-radius: 10px;
  background: none;
  margin-right: 7px;
  cursor: pointer;
}
.button span {
  margin-right: 5px;
}
@media (max-width: 720px) {
  .button span {
    display: none;
  }
}
