.header {
  width: 100%;
  background-color: var(--color-first);
  color: var(--color-third);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.header ul {
  display: flex;
  list-style: none;
}
.header li {
  margin-left: 20px;
}
.buttons {
  display: flex;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--color-third);
  color: var(--color-third);
  font-size: 1em;
  padding: 3px 10px;
  border-radius: 10px;
  background: none;
  margin-right: 7px;
}
.button span {
  margin-right: 5px;
}
