.container {
  width: 100%;
  display: flex;
}
.sidebar {
  width: 200px;
  height: max-content;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid var(--color-first);
  margin: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
}
.sidebar p {
  color: var(--color-first);
  font-weight: 400;
}
.sidebar li {
  padding-right: 10px;
  transition: all 0.5s ease;
}
.sidebar li:hover {
  padding-right: 15px;
}
.sidebar ul {
  list-style: none;
}
.container .main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.error {
  padding: 10px;
  height: max-content;
  border-radius: 10px;
  font-weight: 300;
  background-color: var(--color-fourth);
  color: var(--color-light);
}
