:root {
  --color-first: #465293;
  --color-second: #bad7e9;
  --color-third: #fcffe7;
  --color-fourth: #eb455f;
  --color-fifth: #5d5d5d;
  --color-light: #fff;
  --color-dark: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 90%; */
  margin: 0 auto;
  overflow-x: hidden;
  font-weight: 200;
}

a {
  color: inherit;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: inherit;
}
