.container h3 {
  font-weight: 300;
  margin-bottom: 20px;
}

.data {
  display: flex;
  flex-direction: column;
  background-color: var(--color-first);
  color: var(--color-light);
  width: fit-content;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
}
.row {
  display: flex;
}
