.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main {
  width: 100%;
}
.main h1 {
  font-weight: 300;
  font-size: 2em;
  color: var(--color-first);
}
.main p {
  font-size: 1em;
  color: var(--color-fifth);
}

.main .location {
  display: flex;
  align-items: center;
  color: var(--color-first);
}
.title {
  font-weight: 300;
  color: var(--color-first);
  margin: 30px 0 20px;
  border-bottom: 2px solid var(--color-first);
}
.location svg {
  margin-left: 5px;
}
.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.realstate {
  width: 90%;
  height: 150px;
  padding: 15px;
  border: 2px solid var(--color-first);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: var(--color-first);
  margin: 15px;
}
.realstate p,
.category p {
  display: flex;
  align-items: center;
}
.realstate p svg {
  margin-left: 5px;
}
.realstate span svg {
  font-size: 3em;
}

.category {
  width: 90%;
  padding: 15px;
  height: 150px;
  border: 2px solid var(--color-first);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  color: var(--color-first);
  margin: 15px;
}
@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
  }
  .sidebar {
    width: 100%;
    flex-direction: row;
  }
}

@media (max-width: 600px) {
  .sidebar {
    flex-wrap: wrap;
  }
  .realstate,
  .category {
    width: 100%;
  }
}
