.button input {
  display: none;
}
.mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}
.mark span {
  height: 1px;
  width: 40px;
  background-color: var(--color-first);
  transition: all 0.3s ease;
}
.mark span:first-child {
  width: 0px;
  transform: rotate(-45deg);
}
.mark span:last-child {
  width: 0px;
  transform: rotate(45deg);
}
.button input:checked ~ .mark span:first-child {
  width: 15px;
  transform: rotate(-45deg);
}
.button input:checked ~ .mark span:last-child {
  width: 5px;
  transform: rotate(45deg) translate(3px, 0px);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-second);
  color: var(--color-first);
  padding: 3px 5px;
  border-radius: 5px;
  cursor: pointer;
}
